.navbar {
  width: 1123.560px;
  height: 38.391px;
  border-radius: 15px;
  background: rgba(211, 211, 211, 0.7);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1030;
}

.navbar-brand {
  font-size: 1.2rem;
  color: black;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 0.9rem;
  margin: 0 5px;
}

.navbar-nav .nav-link:hover {
  color: #e91e63;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-header {
  color: black;
}

.arrow {
  width: 1rem;
  height: auto;

  @media (max-width: 768px) {
    .navbar {
      width: 90%;
    }
  }
}
