{% extends "base.html" %}

{% block content %}
  <h1>CareTaker List</h1>
  <a href="{% url 'shelters:caretaker-create' %}" class="btn btn-success mb-3">
    Register New Caretaker
  </a>
  {% if object_list %}
    <ul>
      {% for caretaker in object_list %}
        <li>
          <a href="{% url 'shelters:caretaker-detail' caretaker.pk %}"
          >{{ caretaker.first_name }} {{ caretaker.last_name }}</a>
          {% if caretaker == user %} (me) {% endif %}
          <a href="{% url 'shelters:caretaker-update' caretaker.pk %}" class="btn 
          btn-primary btn-sm ml-2">
            Update
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No caretakers found.</p>
  {% endif %}
{% endblock %}
