{% extends "base.html" %}

{% block content %}
  <h1>{{ object|yesno:"Update, Register New" }} Shelter</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    <div>
      {{ form.non_field_errors }}
      <label for="name">Name</label>
      {{ form.name }}
    </div>
    <div>
      <label for="location">Location</label>
      {{ form.location }}
    </div>
    <div>
      <label for="contact_number">Contact Number</label>
      {{ form.contact_number }}
    </div>
    <div>
      <label for="capacity">Capacity</label>
      {{ form.capacity }}
    </div>
    <div>
      <label for="current_animal_count">Current Animal Count</label>
      {{ form.current_animal_count }}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>

  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
